body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ErrorPage {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .ErrorPage > * {
    line-height: 2; }
  .ErrorPage .error-status {
    font-size: 40px;
    color: red; }
  .ErrorPage .error-message {
    max-width: 400px;
    font-smoothing: antialiased;
    font-size: 44px;
    color: #0f0f0f; }

.Uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .Uploader > * {
    line-height: 2; }
