.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border-radius: 50%;
    @include box-shadow($appLogoGlowColorRGB...);
    @include attachToView(auto, 80, 80, 'px');
    @include positionize(absolute, calc(50% - 40px), calc(50% - 40px));
  }

  .App-header {
    position: relative;
    background-color: $appHeaderBgColor;
    height: $appHeaderHeight;
    color: $appHeaderColor;
    padding: 20px;
    @include flexbox();
  }

  .App-title {
    font-size: $appTitleFontSize;
  }

  .App-intro {
    font-size: $appIntroFontSize;
    line-height: $appIntroLineHeight;
    font-family: $appIntroFontFamily;
    text-transform: uppercase;
  }

  .App-body {
    @include flexbox(center, normal);
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}