.ErrorPage {
	height: $errorPageHeight;
	@include flexbox(center, center, column);

	& > * {
		line-height: $errorPageLineHeight;
	}

	.error-status {
		font-size: $errorPageStatusCodeSize;
		color: $errorPageStatusColor;
	}

	.error-message {
		max-width: $errorPageMessageMaxWidth;
		font-size: $errorPageMessageFontSize;
		color: $errorPageMessageColor;
		font-smoothing: antialiased;
		margin-bottom: 20px;
	}
}