.ImageList {
	position: relative;
  border: 1px dashed #e4e4c5;
  min-width: 250px;
  max-width: inherit;
  height: 150px;
  padding: 0 5px;
  flex-direction: row;
  margin-bottom: 20px;
  @include flexbox(space-between, flex-start);

  .Image {
    width: 100px;
    height: 98px;
  }
}