.Image {
  border-radius: inherit;
  @include positionize(absolute, 0);
  @include flexbox(space-between, center, column);

  &.item {
    margin: 0 auto;
    position: static;
    @include box-shadow($imageItemGlowColorRGB...);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .broken-img-container {
    @include flexbox(space-between, normal, column);

    .broken-img-icon {
      &::before, &::after {
        clear: both;
      }
    }

    .broken-img-txt {
      color: $brokenImageTextColor;
      @include word-wrapper();
    }
  }
}