.ImageList {
	position: relative;
  border: 1px dashed #e4e4c5;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  height: 150px;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;

  .Image {
    width: 100px;
    height: 98px;
  }
}