.ImageList {
	position: relative;
  border: $imageListBorder;
  min-width: $imageListMinWidth;
  max-width: inherit;
  height: $imageListHeight;
  padding: 0 5px;
  margin-bottom: 20px;
  @include flexbox(space-between, flex-start);

  .Image {
    width: $imageListChildWidth;
    height: $imageListChildHeight;
  }
}