.Image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  flex-direction: column;
  @include flexbox(space-between, center);

  &.item {
    margin: 0 auto;
    position: static;
    @include box-shadow($imageItemGlowColorRGB...);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .broken-img-container {
    flex-direction: column;
    flex: 1;
    @include flexbox(space-between, normal);

    .broken-img-icon {
      &::before, &::after {
        clear: both;
      }
    }

    .broken-img-txt {
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #d4d4c9;
    }
  }
}