.Uploader {
	flex-direction: column;
	@include attachToView($uploaderNormalSize, $uploaderMinSize, $uploaderMaxSize);
	@include flexbox(center, center, column);

	& > * {
		line-height: 2;
	}

	.file-input {
		position: relative;
		flex-direction: column;
		@include inherit(('width', 'height', 'min-height', 'min-width', 'max-width', 'max-height'));

		border: $uploaderBorder;
		border-radius: $uploaderBorderRadius;
		margin: 2vh 0;
		color: $uploaderMainColor;
		@include flexbox();

		&.drag-enter,&.drag-over {
			.upload-icon > .glyphicon,.upload-message {
			    color: RGB($uploaderMainGlowColorRGB);
			    opacity: .6;
			}

			.upload-icon > .glyphicon {
				@include box-shadow($uploaderGlowColorRGB...);
			}
		}

		&.error {
			.upload-icon > .glyphicon,.upload-message {
				color: $errorPageMessageColor;
			}
		}
	
		.upload-icon {
			position: absolute;
			box-shadow: none;
			font-size: $uploadIconSize;
			height: 75%;
			color: inherit;
			opacity: 0.8;
			@include flexbox(start, center);

			& > .glyphicon {
				border-radius: 50%;
				@include inherit(('font-size', 'color', 'opacity'));
			}
		}

		.upload-message {
			box-shadow: none;
			height: 90%;
			color: inherit;
			opacity: 0.8;
			font-size: 2vw;
			@include flexbox(normal, flex-end);

			span {
				padding: 2vh 2vw;
			}
		}

		.upload-icon > .glyphicon,.upload-message {
			transition: box-shadow .2s ease-out, color .2s ease-out, opacity .2s ease-out;
		}

		input {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  color: transparent;
		  height: 100%;
		  outline: none;
		  opacity: 0;
		  border-radius: 5%;
		}
	}
}