.Uploader {
	width: 60vw;
	max-width: 80vw;
	max-height: 80vh;
	min-width: 20vw;
	height: 60vh;
	min-height: 20vh;
	flex-direction: column;
	@include flexbox();

	& > * {
		line-height: 2;
	}

	.file-input {
		position: relative;
		flex-direction: column;

		width: inherit;
		height: inherit;
		min-height: inherit;
		min-width: inherit;
		max-width: inherit;
		max-height: inherit;

		border: 1px dashed $uploaderBorderColor;
		border-radius: 5vh;
		margin: 2vh 0;
		color: $uploaderMainColor;
		@include flexbox();

		&.drag-enter,&.drag-over {
			.upload-icon > .glyphicon,.upload-message {
			    color: #0f0;
			    opacity: .6;
			}

			.upload-icon > .glyphicon {
				@include box-shadow($uploaderGlowColorRGB...);
			}
		}

		&.error {
			.upload-icon > .glyphicon,.upload-message {
				color: $mainErrorColor;
			}
		}
	
		.upload-icon {
			position: absolute;
			box-shadow: none;
			font-size: 20vh;
			height: 75%;
			color: inherit;
			opacity: 0.8;
			@include flexbox(start, center);

			& > .glyphicon {
				border-radius: 50%;
				font-size: inherit;
				color: inherit;
				opacity: inherit;
			}
		}

		.upload-message {
			box-shadow: none;
			height: 90%;
			color: inherit;
			opacity: 0.8;
			font-size: 2vw;
			@include flexbox(normal, flex-end);

			span {
				padding: 2vh 2vw;
			}
		}

		.upload-icon > .glyphicon,.upload-message {
			transition: box-shadow .2s ease-out, color .2s ease-out, opacity .2s ease-out;
		}

		input {
		  position: absolute;
		  top: 0;
		  z-index: 10;
		  width: 100%;
		  color: transparent;
		  height: 100%;
		  outline: none;
		  opacity: 0;
		  border-radius: 5%;
		}
	}
}