@mixin flexbox($justifyContent: center, $alignItems: center) {
	display: flex;
	@if $justifyContent != center and $alignItems == center {
		justify-content: $justifyContent;
		align-items: $justifyContent;
	} @else {
		justify-content: $justifyContent;
		align-items: $alignItems;
	}
}

@mixin box-shadow($firstLayerColor, $mainColor, $secondLayerColor, $opacity: 0.7) {
    box-shadow:
    inset 0 0 50px RGBA($firstLayerColor, $opacity),
    inset 20px 0 80px RGBA($mainColor, $opacity),
    inset -20px 0 80px RGBA($secondLayerColor, $opacity),
    0 0 50px RGBA($firstLayerColor, $opacity),
    -10px 0 80px RGBA($mainColor, $opacity),
    10px 0 80px RGBA($secondLayerColor, $opacity);
}

@mixin notification($type: 'info') {
	@if $type == 'success' {
		color: RGB($notificationSuccessColorRGB);
		background: RGB($notificationSuccessBgRGB);
		@include box-shadow($notificationSuccessGlowColorRGB...);
	} @else if $type == 'warning' {
		color: RGB($notificationWarningColorRGB);
		background: RGB($notificationWarningBgRGB);
		@include box-shadow($notificationWarningGlowColorRGB...);
	} @else if $type == 'error' {
		color: RGB($notificationErrorColorRGB);
		background: RGB($notificationErrorBgRGB);
		@include box-shadow($notificationErrorGlowColorRGB...);
	} @else {
		color: RGB($notificationInfoColorRGB);
		background: RGB($notificationInfoBgRGB);
		@include box-shadow($notificationInfoGlowColorRGB...);
	}
}