.Notification {
	margin-left: -10%;
	width: $notificationWidth;
	font-smoothing: antialiased;
	@include positionize(fixed, 15%, 50%);
	@include flexbox(space-between, flex-start, column);

	.notification-type {
		@include notification('info');

		&.type-success {
			@include notification('success');
		}

		&.type-warning {
			@include notification('warning');
		}

		&.type-error {
			@include notification('error');
		}

		.status-code {
			font-size: $notificationStatusCodeSize;
			text-align: center;
			@include inherit(('color', 'background'));
		}

		.message {
			font-size: $notificationMessageFontSize;
			@include inherit(('color', 'background'));
			@include word-wrapper();
		}
	}
}