@import './Components/styles/helpers/variables';
@import './Components/styles/helpers/mixins';
@import './Components/styles/helpers/notification-messages';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import './Components/styles/App.scss';
@import './Components/styles/ErrorPage.scss';
@import './Components/styles/ImageList.scss';
@import './Components/styles/Image.scss';
@import './Components/styles/Uploader.scss';
